.start-order {
  font-size: 12px;
  text-align: right; }
  .start-order .fa-map-marker {
    position: relative;
    top: 10px; }

.secondary-head {
  background: #e3e3e3;
  padding: 10px; }

.row .first-nav {
  margin-top: 0px;
  padding: 11px; }

.menu, .specials, .rewards {
  font-size: 12px; }
  @media (min-width: 767px) {
    .menu, .specials, .rewards {
      font-size: 20px; } }
  @media (min-width: 1023px) {
    .menu, .specials, .rewards {
      font-size: 25px; } }
  @media (min-width: 1080px) {
    .menu, .specials, .rewards {
      font-size: 30px; } }

@media (min-width: 1080px) {
  .rewards {
    margin-left: -5%; } }

@media (min-width: 1023px) {
  .specials {
    margin-left: 3%; } }

.side-menu {
  padding: 10px; }

.move-image {
  position: absolute;
  margin-top: -71px; }
  @media (min-width: 767px) {
    .move-image {
      margin-top: -78px; } }
  @media (min-width: 1023px) {
    .move-image {
      margin-top: -57px;
      margin-left: 14px; } }
  @media (min-width: 1080px) {
    .move-image {
      margin-top: -5%;
      margin-left: 5%; } }

@media (min-width: 767px) {
  .first-header {
    display: none; }

  .hide-tablet {
    display: none; } }
.primary-header {
  display: none; }
  @media (min-width: 767px) {
    .primary-header {
      display: block;
      padding: 10px 0; } }
  @media (min-width: 1080px) {
    .primary-header {
      padding: 20px; } }

.caret {
  position: absolute;
  top: 9px;
  right: 65%; }

.caret-1 {
  position: absolute;
  top: 9px;
  right: 24%;
  -webkit-transition: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.15s ease-in; }

.active .caret-1 {
  -webkit-transition: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.15s ease-in; }

.arrow-down {
  position: absolute;
  margin-top: -9px;
  margin-left: 47px;
  -webkit-transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.25s ease-in; }

.active .arrow-down {
  margin-top: -9px;
  margin-left: 47px;
  -webkit-transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.25s ease-in; }

.button.large.franchise {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 46px;
  width: 103%; }

.list {
  margin-top: -15px;
  background: #e3e3e3;
  max-width: 258px;
  padding: 10px;
  padding-left: 0px;
  font-size: 14px; }

.message {
  position: relative;
  top: 0px; }
  @media (min-width: 1023px) {
    .message {
      top: 10px; } }

.hide-mobile {
  display: none; }
  @media (min-width: 767px) {
    .hide-mobile {
      display: block; } }
  @media (min-width: 767px) and (min-width: 1080px) {
    .hide-mobile {
      display: none; } }

.promo {
  display: none; }
  @media (min-width: 1023px) {
    .promo {
      margin-right: 5%;
      display: block; } }
  @media (min-width: 1080px) {
    .promo {
      margin-right: -1%; } }

.big-pic {
  display: none; }
  @media (min-width: 1080px) {
    .big-pic {
      display: block; } }

.utility {
  display: none; }
  @media (min-width: 1080px) {
    .utility {
      display: block;
      margin-left: 5%; } }

.sign-bar, .list {
  display: none; }

.list ul {
  list-style: none; }

footer {
  padding-top: 20px;
  background: #C0C0C0; }

.legal {
  font-size: 14px;
  text-align: center; }

.custom {
  font-size: 14px; }

.list-1 {
  font-size: 14px;
  list-style: none;
  text-align: center; }
  @media (min-width: 767px) {
    .list-1 {
      font-size: 14px; } }

@media (min-width: 767px) {
  .list-1 li {
    float: left;
    display: inline-block;
    padding: 10px; } }

@media (min-width: 767px) {
  .privacy {
    margin-left: 13%; } }
@media (min-width: 1023px) {
  .privacy {
    margin-left: 0; } }

@media (min-width: 1023px) {
  .dropdown {
    margin-left: 20%; } }
@media (min-width: 1080px) {
  .dropdown {
    margin-left: 0%; } }

.main-content {
  padding: 25px;
  height: 100%; }

.connect {
  width: 82%;
  text-align: center; }

.social-icon span {
  padding: 10px;
  margin-left: 5px; }

.social-icon {
  background: #ffffff;
  width: 90%;
  margin-left: 0;
  padding: 9px; }
