
// define breakpoint 


   @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 1080px) { @content ; }
  }
   @else if $point == tab-land {
     @media (min-width: 1023px) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 767px) { @content ; }
  }
  @else if $point == i6-land {
     @media (min-width: 667px) { @content ; }
  }
  @else if $point == i6 {
     @media (min-width: 374px) { @content ; }
  }
   @else if $point == i5-land {
     @media (min-width: 567px)  { @content ; }
  }
  @else if $point == i5 {
     @media (max-width: 320px)  { @content ; }

  }
}


// <!-- breakpoint end -->

.start-order {
  font-size: 12px;
  text-align: right;
  

  .fa-map-marker {
    position:relative;
    top: 10px;
  }
}



.secondary-head {
  background: #e3e3e3;
  padding:10px;
}

.row .first-nav {
  margin-top: 0px;
  padding: 11px;
}

.menu, .specials, .rewards {
  font-size: 12px;
  @include breakpoint(tablet) {
    font-size: 20px;
  }
   @include breakpoint(tab-land) {
    font-size: 25px;
  }
  @include breakpoint(desktop) {
    font-size: 30px;
  }
}

.rewards {
  @include breakpoint(desktop) {
    margin-left: -5%;
  }
}

.specials {
 
   @include breakpoint(tab-land) {
    margin-left: 3%;
  }
}
.side-menu {
  padding: 10px;
}

 .move-image {
  position: absolute;
  margin-top: -71px;  
  @include breakpoint(tablet) {
    margin-top: -78px;
  }
  @include breakpoint(tab-land) {
    margin-top: -57px;
    margin-left: 14px;
  }
  @include breakpoint(desktop) {
       margin-top: -5%;
    margin-left: 5%;
  }
}


@include breakpoint(tablet) {
  .first-header {
    display: none;
  }
  .hide-tablet {
    display: none;
  }
}

// .sign-bar .move-image {
//   position:relative;
//    @include breakpoint(desktop) {
//     left: 92px;
//   }
// }
.primary-header {
display:none;
@include breakpoint(tablet) {
  display: block;
  padding:10px 0;
  // margin-bottom:-10px;
}
@include breakpoint(desktop) {
  padding: 20px;
}
}

.caret {
  position: absolute;
  top:9px;
  right: 65%;
}

.caret-1 {
  position: absolute;
  top:9px;
  right: 24%;

     -webkit-transition: rotate(0deg);
  -webkit-transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.15s ease-in;
}

.active .caret-1 {

     -webkit-transition: rotate(180deg);
  -webkit-transform: rotate(180deg);
    -webkit-transition: -webkit-transform 0.15s ease-in;
}

.arrow-down {
   position: absolute;
   margin-top: -9px;
   margin-left: 47px;
     // -webkit-transition: rotate(0deg);
  -webkit-transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.25s ease-in;

}

.active  .arrow-down {
    // -webkit-transition: rotate(180deg);
    margin-top: -9px;
    margin-left: 47px;
  -webkit-transform: rotate(180deg);
    -webkit-transition: -webkit-transform 0.25s ease-in;
}

.button.large.franchise {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 46px;
  width: 103%;
}

.list {
  margin-top: -15px;
  background: #e3e3e3;
  max-width: 258px;
  padding: 10px;
padding-left: 0px;
  font-size: 14px;
}
.message {
  position: relative;
  top: 0px;
  @include breakpoint(tab-land) {
    
    top:10px;
  }
}

.hide-mobile {
  display:none;
  @include breakpoint(tablet) {
    display: block;
    @include breakpoint(desktop) {
      display:none;
    }
  }
}

.promo {
  display: none;
  @include breakpoint(tab-land) {
    margin-right: 5%;
    display: block;
  }
  @include breakpoint(desktop) {
    margin-right: -1%;
  }
}

.big-pic {
  display: none;
  @include breakpoint(desktop) {
    display: block;
  }
}

.utility {
  display: none;
  @include breakpoint(desktop) {
    display: block;
    margin-left: 5%;
  }
}

.sign-bar, .list {
  display: none;
}

.list ul {
  list-style: none;
}

footer {
  padding-top: 20px;
  background: #C0C0C0;
}

// .image-hold span {
//   display: inline-block;
// }

.legal {
  font-size: 14px;
  text-align: center;
}

.custom {
  font-size: 14px;
}

.list-1 {
  font-size :14px;
  list-style: none;
  
  text-align: center;

  @include breakpoint(tablet) {
    font-size: 14px;
  }
  // @include breakpoint(desktop) {
  //   font-size: 16px;
  // }
}

.list-1 li {
  @include breakpoint(tablet) {
    float: left;
    display: inline-block;
  
    padding:10px;
  }
}

.privacy {
  @include breakpoint(tablet) {
    margin-left: 13%;
  }
  @include breakpoint(tab-land) {
    margin-left: 0;
  }
}

.dropdown {
  @include breakpoint(tab-land) {
    margin-left: 20%;
  }
  @include breakpoint(desktop) {
    margin-left: 0%;
  }
}

.main-content {
  padding: 25px;
  height:100%;
}

.connect {
  width: 82%;
  text-align: center;
}

.social-icon span {
  padding:10px;
  margin-left: 5px;
}

.social-icon {
  background: #ffffff;
  width: 90%;
  margin-left: 0;
  padding: 9px;
}